* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F1F1F1;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #c2c2c2;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0 5px 10px;
    font-size: 12px;

}


li {
    list-style: none;
}



input {
    border: none;
    background-color: transparent;
    font-size: 140px;
}

.page__container {

    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
}

.col-1-3 {
    width: 33.333%;
    float: left;
}

.col-1-3:last-child {
    margin-right: 0;
}

.section__content {

    margin-right: 20PX;
}

.header {
    margin-bottom: 100px;
}

.search__input {
    width: 80%;
    float: left;
    padding: 0 80px 0 10px;
    font-weight: 700;
    border: none;
    background: transparent;
    font-size: 70px;
    color: #ec5a62;
}

.search__btn {
    float: left;
    background: transparent url(../img/magnifier.svg) no-repeat center center;
    width: 80px;
    height: 80px;
}

.header:after {
    content: '';
    display: block;
    clear: both;
}

.section__title {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c2c2c2;
    padding-bottom: 10px;
}


.search__result:after {
    content: '';
    display: block;
    clear: both;
}

.people__img {

    border-radius: 50%;
}

[class*="__img"] {
    display: inline-block;
    width: 50px;
    margin: 0 10px;
    vertical-align: middle;
}

[class*="__item"] {
    padding: 10px 0;
}

[class*="item"] {

    background-color: #EBEBEC;
    border-radius: 5px;
    margin-bottom: 10px;
}

[class*="item"]:last-child {
    margin-bottom: 0;

}

.search__result:after {
    content: '';
    display: block;
    clear: both;
}

[class*="item"]:hover {
    background-color: rgba(118, 117, 128, 0.1);
}

[class*="item"]:hover a {
    color: #ec5a62;
}